body {
    margin-top: 15px;
    background-image: url(img/compass.jpg);
    background-size: cover;
    
}
nav {
    width: 50%;
}
.list-nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    flex-direction: row;
}
.logo-name {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}
.logo {
    padding-top: 5px;
    padding-left: 45px;
    width: 100px;
    height: 100px;
}
header {
    background-color: #f4e1e1;
    height: 100px;
    padding-top: 0;
    display: flex;
    border-radius: 20px;
    border: #000000 solid;
    justify-content: space-between;
    align-items: center;
}
.section-one {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}
.sunset-beach {
    width: 350px;
    height: 350px;
    opacity: 0.78;
    margin-right: 50px;
    border-style: double;
    border-radius: 15px;
}
button {
    border-radius: 15px;
    height: 40px;
    width: 250px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
    transition: 1.5s;
}
.slogan-vision-buttons {
    align-items: center;
    justify-content: space-between;
    height: 500px;
    padding-top: 0;
}
.vision {
    width: 500px;
    font-size: 30px;
    font-weight: bold;
}
.slogan {
    font-size: 40px;
    font-weight: bold;
}
.img-sunset {
    height: 500px;
}
.button-fly-to-paradise:hover {
    background-image: url(img/plane.jpg);
    background-size: cover;
    height: 80px;
}
.button-learn-more:hover {
    background-image: url(img/compass3.jpg);
    background-size: cover;
    height: 80px;
}
.section-two {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: solid 5px rgb(103, 73, 16);
    margin-bottom: 20px;
}
.description {
    text-align: center;
}
span {
    background-color: rgb(205, 120, 23);
}
.section-three-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.h2-section-three {
    
    font-size: 40px;
    background-color: rgb(254, 254, 253);
    border-radius: 25px;

}
.p-section-three {
    font-size: 30px;
    margin-bottom: 100px;
    background-color: rgb(252, 252, 251);
}
.container-section-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
    
}

.container-section-three div img {
    width: 350px;
    height: 350px;
    border-style: double;
    border-radius: 15px;
}
.container-section-three div p {
    font-size: 20px;
    background-color: burlywood;
    border-radius: 10px;
    margin-top: 0;
}
.aurora-boreal {
    width: 30%;
    
}
.piramides {
    width: 30%;
}
.bora-bora {
    width: 30%;
}
.container-section-four {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(214, 170, 104);
    border-bottom: solid black 5px;
    border-left: solid black 5px;
    border-right: solid black 5px;
    border-radius: 15px;
    font-size: 22px;
}
.container-section-four img {
    width: 150px;
    height: 150px;
}

.h2-section-four {
    font-size: 80px;
    text-align: center;
}
.titulo-empresas {
    font-size: 80px;
    text-align: center;
    
}
.container-empresas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 5px rgb(103, 73, 16);
}
.container-empresas img {
    height: 200px;
    width: 200px;
    margin-bottom: 100px;
    border-radius: 25px;
}

.container-empresas a img:hover {
    border: solid 5px goldenrod;
}
.section-six {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;
    margin-top: 50px;
}
.container-contactanos {
    display: flex;
    flex-direction: column;
}
.container-contactanos img {
    width: 30px;
    height: 30px;
}
footer {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.contactanos {
    font-size: 40px;
}
.telefono {
    font-size: 30px;
}
.direccion {
    font-size: 30px;
}
iframe {
    border-radius: 25px;
    margin-top: 50px;
}
